<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<figure class="video" data-type="{f:if(condition: '{file.extension} == youtube || {file.extension} == vimeo', then: 'external')}" data-cookietool="{v:variable.typoscript(path:'plugin.tx_hhvideoextender.settings.cookieTool')}">
    <div class="video-embed">
        <f:render partial="Media/Rendering/Video" arguments="{file: file, dimensions: dimensions, settings: settings}" />
    </div>
    <f:if condition="{file.description}">
        <figcaption class="video-caption">
            {file.description}
        </figcaption>
    </f:if>
    <f:if condition="{file.extension} == youtube || {file.extension} == vimeo">
        <f:if condition="{v:variable.typoscript(path: 'plugin.tx_hhvideoextender.settings.cookieTool')} == 'cookiebot'">
            <div class="cookieconsent-optout-marketing">
                {f:translate(key:'LLL:EXT:hive_ovr_hhvideoextender/Resources/Private/Language/locallang.xlf:cookiebot.please')}
                <a href="javascript:Cookiebot.renew()">{f:translate(key:'LLL:EXT:hive_ovr_hhvideoextender/Resources/Private/Language/locallang.xlf:cookiebot.accept-marketing-cookies')}</a>
                {f:translate(key:'LLL:EXT:hive_ovr_hhvideoextender/Resources/Private/Language/locallang.xlf:cookiebot.to-watch')}
            </div>
        </f:if>
    </f:if>
</figure>

</html>
